* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #dde1e7;;
    flex-direction: row;
    padding: 30px;
  }
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 200px;
    height: 200px;
    background: #dde1e7;
    border-radius: 50%;
    margin: 0 10px;
    box-shadow: -3px -3px 7px #fff, 3px 3px 5px rgba(94, 104, 121, 0.712);
    position: relative;
  }
  .box:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background: transparent;
    box-shadow: inset -3px -3px 7px #fff,
      inset 3px 3px 5px rgba(94, 104, 121, 0.712);
  }
  
  .box:hover:after {
    box-shadow: -3px -3px 7px #fff, 3px 3px 5px rgba(94, 104, 121, 0.712);
  }
  
  .box i {
    cursor: pointer;
    background: #dde1e7;
    font-size: 50px;
  text-shadow: -3px -3px 7px #fff, 3px 3px 5px rgba(94, 104, 121, 0.712);
    transition: 1s ease;
  }
  .box:hover i {
    color: dodgerblue;
    transform: rotate(360deg);
  }
  